@import '~bootstrap/scss/bootstrap';

$border-color: #808080
$background-color: #edece8
$border-dark: #000

.container {
  border: solid $border-color 1px;
  display: flex;
  flex-wrap: wrap;
  height: 440px;
  width: 440px;
}

.box {
  background-color: $background-color;
  border: solid $border-dark 2px;
  border-radius: 5px;
  display: block;
}
